<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image processing project</title>
</head>

<body>
    <% if (origin) { %>
        <img src="http://localhost:2784/images/<%= origin %>" alt="Where are you going buddy :D?" />
        <% } %>
</body>

</html>